<div class="col-md-100 mb-3">
  <div class="alert alert-info" *ngIf="model?.getAlertType() == enum.Alert" role="alert" (click)="clearMessage()">
    {{model?.getMessage()}}
  </div>
  <div class="alert alert-success col-md-100" *ngIf="model?.getAlertType() == enum.Success" role="alert" (click)="clearMessage()">
    {{model?.getMessage()}}
  </div>
  <div class="alert alert-danger" *ngIf="model?.getAlertType() == enum.Error" role="alert" (click)="clearMessage()">
    {{model?.getMessage()}}
  </div>
  <div class="alert alert-warning" *ngIf="model?.getAlertType() == enum.Warning" role="alert" (click)="clearMessage()">
    {{model?.getMessage()}}
  </div>
</div>