<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Access-Control-Allow-Headers, Origin,Accept, X-Requested-With, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers" />
      </customHeaders>
    </httpProtocol>
    <cors enabled="true">
      <add origin="*">
        <allowMethods>
            <add method="GET" />
            <add method="HEAD" />
            <add method="POST" />
            <add method="PUT" />
            <add method="PATH" />
            <add method="OPTIONS" />
            <add method="DELETE" />
        </allowMethods>
      </add>
    </cors> -->
    <!-- <aspNetCore processPath="dotnet" arguments=".\ChamadosApi.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" /> -->
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\ChamadosApi.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 17D2ECA9-45C0-4970-B9DB-9FF2A427CD66-->